body {
    background-image: url('../images/img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 20px;
}

.header {
    background-color: darkgray;
    text-align: center;
    padding: 20px;
}

.content {
    padding: 40px;
    margin-top: 40px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
}

.text {
    color: aliceblue;
}

.contentp {
    color: green;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}