body,
html {
    height: 100%;
    margin: 0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/img.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.btn {
    background-color: rgb(17, 21, 211);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
}

.quote {
    margin-top: 20px;
    margin-left: 440px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.card {
    box-shadow: 7px 4px 8px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
}